:root {
    --main-theme-color: #4464A2;
    --header-height: 40px;
}

header {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    background-color: var(--main-theme-color);
    color: #FFF;
}

.container {
    display: inline-block;
    height: 100vh;
    width: 100%;
    background-color: #ECEEF0;
    color: #FFF;
    overflow: hidden;
}

    aside {
        display: inline-block;
        width: 100px;
        height: calc(100% - var(--header-height));
        margin-top: var(--header-height);
        float: left;
    }

    .content {
        display: inline-block;
        width: calc(100% - 200px);
        height: calc(100% - var(--header-height));
        margin-top: var(--header-height);
        float: left;
    }

        .feed {
            display: inline-block;
            width: calc(100% - 200px);
            max-width: 800px;
            min-width: 300px;
            height: 100%;
            float: left;
            overflow: auto;
        }

        .ads {
            display: inline-block;
            width: 100px;
            height: 100%;
            float: left;
        }

    .messenger {
        display: inline-block;
        width: 200px;
        height: calc(100% - var(--header-height));
        margin-top: var(--header-height);
        float: left;
    }